body {
    color: #0F151F;
}

.plus {
    background: rgb(102, 187, 106);
    background: rgba(102, 187, 106, .3);
}

.minus {
    background: rgb(211, 47, 47);
    background: rgba(211, 47, 47, .3);
}

.filename {
    color: black;
}

b {
    color: #2d466a;
}

.line {
  display: flex;
  flex-direction: row;
}

.line-number {
    border-right: 1px solid black;
    -webkit-user-select: none;  /* Chrome all / Safari all */
    -moz-user-select: none;     /* Firefox all */
    -ms-user-select: none;      /* IE 10+ */
    user-select: none;
}

.new-line-number {
    width: 30px;
    background-color: green;
}

.old-line-number {
    width: 30px;
    background-color: red;
}
