body{
    color: #0F151F;
    font-family: sans-serif;
    font-size: 12px;
    padding-top: 30px;
}

codebloc {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    margin-bottom: 15px;
    color: #20242f;
}

.left-bloc {
    background-color: #d9edf7;
}

bloc {
    flex: 1;
    white-space: nowrap;
    overflow-x: auto;
    padding-left: 5px;
    padding-right: 5px;
}

line-bloc {
    display: flex;
    background-color: #f6f6f6;
    border-left: 1px solid black;
    border-right: 1px solid black;
    color: #878787;
    padding: 0 10px;

}

line-bloc span {
    min-width: 30px;
    text-align: center;
}

add {
    display: flex;
    flex-direction: column;
}

delete {
    display: flex;
    flex-direction: column;
}

blocMeta {
    width: 100%;
}
blocMeta p{
    width: 100%;
    background-color: #f6f6f6;
    margin-bottom: 0;
    padding-bottom: 14px;
}

.plus {
    background: rgb(102, 187, 106);
    background: rgba(102, 187, 106, .3);
}

.minus {
    background: rgb(211, 47, 47);
    background: rgba(211, 47, 47, .3);
}

.filename {
    color: black;
}

b {
    color: #2d466a;
}

.line {
    display: flex;
    flex-direction: row;
    white-space: pre;
}

.line-number {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    color: #24292e;
}

.new-line-number {
    padding-left: 0;
}

/***********************************************************
BUTTONS
***********************************************************/

button {
    position: relative;
    display: inline-block;
    padding: 6px 12px;
    font-weight: 600;
    line-height: 20px;
    white-space: nowrap;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-repeat: repeat-x;
    background-position: -1px -1px;
    background-size: 110% 110%;
    border: 1px solid rgba(27,31,35,0.2);
    border-top-color: rgba(27, 31, 35, 0.2);
    border-right-color: rgba(27, 31, 35, 0.2);
    border-right-width: 1px;
    border-bottom-color: rgba(27, 31, 35, 0.2);
    border-left-color: rgba(27, 31, 35, 0.2);
    border-radius: 0.25em;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

button:hover {
    background-color: #fff;
    background-image: linear-gradient(-180deg,#f0f3f6 0%,#e6ebf1 90%);
    background-position: -0.5em;
    border-color: rgba(27,31,35,0.35);
}

button:active,
button.selected {
    background-color: #e9ecef;
    background-image: none;
    border-color: rgba(27,31,35,0.35);
    box-shadow: inset 0 0.15em 0.3em rgba(27,31,35,0.15);
}

/***********************************************************
HEADER
***********************************************************/

header {
    position: fixed;
    background-color: #f6f6f6;
    display: block;
    left: 0;
    right: 0;
    top: 0;
}

.view-mode {
    float: right;
    margin: 5px;
}

.view-mode button {
    border-radius: 0;
}

.view-mode button:first-child {
    border-right: 0 none;
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
}

.view-mode button:last-child {
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
}

.file-info {
    float: left;
    display: block;
    padding: 10px 0 10px 5px;
    height: auto;
}

.file-info .additions {
    color: rgb(71, 138, 75);
}

.file-info .deletions {
    color: rgb(211, 47, 47);
}
