body {
    color: #0F151F;
}

pre {
    display: flex;
}
blocUn {
	width:50%;
	display: inline-block;
  flex-direction: column;
	white-space: nowrap;
	overflow: scroll;
}
blocDeux {
	width:50%;
	display: inline-block;
  flex-direction: column;
	white-space: nowrap;
	overflow: scroll;
}

.plus {
    background: rgb(102, 187, 106);
    background: rgba(102, 187, 106, .3);
}

.minus {
    background: rgb(211, 47, 47);
    background: rgba(211, 47, 47, .3);
}

.filename {
    color: black;
}

b {
    color: #2d466a;
}

.line {
    display: flex;
    flex-direction: row;

}

.line-number {
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: flex;
    color: #24292e;
}

.line-number span {
    min-width: 30px;
    padding-right: 5px;
    text-align: center;
}

.new-line-number {
    padding-left: 0;
}

.old-line-number {
    padding-left: 5px;
}

.green-sign {
	color: rgb(102, 187, 106);
}

.red-sign {
    color: rgb(211, 47, 47);
}

.no-sign {
    color: rgb(255, 255, 255);
}

.empty-sign {
    color: rgb(224, 204, 159);
	user-select: none;
}
